{% sw_extends '@Storefront/storefront/section/cms-section-block-container.html.twig' %}

{% block section_content_block_container %}
    <div class="cms-block-container">
        {{ block('section_content_block_row') }}
    </div>
{% endblock %}
