/*
Container
==============================================
Additional styling for bootstrap container layout.

https://getbootstrap.com/docs/4.3/layout/overview/
*/

@mixin container-gutter($offset, $max) {
    $gutter: #{'min(calc((100vw - 100% ) / 2 - 8px), #{$max})'};

    margin-left: calc(#{$gutter} * -1);
    margin-right: calc(#{$gutter} * -1);

    padding-left: $gutter;
    padding-right: $gutter;
}

@mixin container-full-width () {
    $gutter-width: calc(((100vw - 100%) / 2) - 8px);

    margin-left: calc(#{$gutter-width} * -1);
    margin-right: calc(#{$gutter-width} * -1);

    padding-left: $gutter-width;
    padding-right: $gutter-width;
}

.container {
    --container-width: 1320px;

    max-width: var(--container-width);
}

.container-main {
    padding-top: 0;
    padding-bottom: 0;
}
