.header {
    &-row {
        padding: $spacer-lg 0;
        position: relative;
        overflow: hidden;
        justify-content: space-between;

        @include media-breakpoint-down(lg) {
            align-items: center;
        }
    }

    &-logo-main {
        .header-logo-main-img {
            max-height: $input-height-lg;
        }

        @include media-breakpoint-up(md) {
            flex-shrink: 0;
        }
    }

    &-search {
        width: 288px;

        .header-search-input {
            padding-right: $spacer-md;
            background-color: transparent;

            &:focus ~ .header-search-btn {
                border-color: $primary;
            }
        }

        .btn.header-search-btn {
            padding-left: $spacer-md;
            padding-right: $spacer-md;
            min-width: 22px;
            border: $input-border-width solid $input-border-color;
            border-left: none;
            @include border-start-radius(0 !important);
            background-color: transparent;
            display: flex;
            align-items: center;

            &:hover {
                color: $primary;
            }
        }

        &-col {
            .collapse {
                display: block;
            }
        }
    }

    &-cart-count {
        position: absolute;
        top: 5px;
        font-size: $font-size-sm;
        line-height: 1;
    }

    &-wishlist-badge {
        font-size: $font-size-sm;
        background-color: transparent !important;
        color: $shape-gray-900;
        top: -3px !important;
    }

    &-actions {
        @extend .d-flex;

        &-btn {
            &,
            &:active {
                border: $btn-border-width solid transparent;
            }

            &:hover {
                color: $primary;
                border: $btn-border-width solid transparent;

                .header-wishlist-badge {
                    color: $primary;
                }
            }
        }

        > div {
            background-color: rgba($sw-background-color, 1);
        }
    }
}

.curtain-area {
    @extend .d-none, .d-lg-inline-block;
    height: $input-height-lg;
    box-shadow: 0 0 20px 20px $sw-background-color;
}

.header-cart .header-cart-badge,
.header-wishlist .header-wishlist-badge {
    right: -6px;
}

@include media-breakpoint-up(sm) {
    .header-actions-btn {
        &.account-menu-btn,
        .header-cart-btn {
            padding: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .header-search {
        width: 300px;
    }
}

@include media-breakpoint-up(xl) {
    .header-search {
        width: 242px;
    }
}
