$icon-fill-color: #f9f9f9;

.swag-cms-extensions-quickview-modal {
    background-color: rgba(52, 66, 84, 0.6);

    .product-wishlist {
        text-align: center;
    }

    @include media-breakpoint-down(lg) {
        .gallery-slider-thumbnails-col.is-left {
            display: none;
        }

        .modal-dialog {
            max-width: 100%;
        }
    }

    .modal-content {
        margin: 0 auto;
        width: calc(100% - 90px);
    }

    .swag-cms-extensions-quickview-close-button {
        display: none;

        button.close {
            font-size: 24px;
            line-height: 14px;
            font-weight: $font-weight-normal;
            color: $shape-gray-800;
            opacity: 1;
            border: none;
            background-color: transparent;
        }
    }

    @include media-breakpoint-up(xl) {
        .modal-dialog {
            max-width: 1082px;
        }

        .modal-content {
            margin: 0;
        }
    }

    .gallery-slider-col {
        padding-left: 40px;
        padding-right: 40px;
    }
}

#swag-cms-extensions-quickview-carousel {
    .carousel-control-prev,
    .carousel-control-next {
        width: 2rem;
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(31, 46, 61, 0.6);

        .icon {
            width: 22px;
            height: 22px;
            color: $icon-fill-color;

            > svg {
                top: 0;
            }
        }
    }

    .carousel-control-prev {
        border-radius: 0 2px 2px 0;
    }

    .carousel-control-next {
        border-radius: 2px 0 0 2px;
    }
}

.swag-cms-extensions-quickview-content {
    .base-slider.gallery-slider {
        box-shadow: none;
        max-width: 236px;
        margin: 0 auto;
    }

    .gallery-slider-controls-next.is-nav-next-outside {
        right: -45px;
    }

    .gallery-slider-controls-prev.is-nav-prev-outside {
        left: -45px;
    }
}

.swag-cms-extensions-quickview-container {
    max-height: 80vh;
    padding: 18px;

    .swag-cms-extensions-quickview-product-buy-form form {
        margin-bottom: 0;
    }

    .product-detail-quantity-select {
        line-height: 26px;
        padding-right: 26px;
    }

    .swag-cms-extensions-quickview-content {
        margin-top: 0;
    }

    .product-detail-name {
        margin-bottom: $spacer-20;
    }

    .product-detail-buy {
        margin-bottom: 0;
    }

    .product-detail-configurator-container {
        margin-bottom: $spacer-30;
    }

    .gallery-slider-col {
        .gallery-slider-item,
        .gallery-slider-single-image {
            min-height: 1px !important;
        }
    }
}

.swag-cms-extensions-quickview-detail-page-button {
    line-height: 34px;
    width: 100%;
}

.swag-cms-extensions-quickview-content--buy-button {
    margin-bottom: $spacer-sm;
}

.swag-cms-extensions-quickview-header {
    display: none;
}

.swag-cms-extensions-quickview-content--buy-quantity {
    &.quantity-input {
        @extend .col-12;

        margin-bottom: 8px;

        ~ .swag-cms-extensions-quickview-content--buy-button {
            @include make-col(12);

            padding-left: 4px;
        }
    }
}

.row {
    .swag-cms-extensions-quickview-content--buy-quantity,
    .swag-cms-extensions-quickview-content--buy-button {
        margin-top: 0;
    }
}

@include media-breakpoint-up(md) {
    .row {
        > .swag-cms-extensions-quickview-content--buy-quantity:not(.quantity-input) {
            margin-bottom: $spacer-sm;
            padding-right: 8px;
        }

        > .swag-cms-extensions-quickview-content--buy-button {
            padding-left: 8px;
        }
    }

    .swag-cms-extensions-quickview-content {
        .base-slider.gallery-slider {
            max-width: 100%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .swag-cms-extensions-quickview-content-right,
    .swag-cms-extensions-quickview-content-left {
        @include make-col(6);
    }

    .swag-cms-extensions-quickview-content-left {
        padding-right: 40px;
        padding-left: 0;
    }

    .swag-cms-extensions-quickview-content-right {
        padding-right: 0;
        padding-left: 47px;
    }

    .swag-cms-extensions-quickview-container {
        padding: 60px;

        .product-detail-buy.col-lg-5 {
            max-width: unset;
            flex: 1;
        }

        .gallery-slider-row {
            margin: 0;
        }
    }

    #swag-cms-extensions-quickview-carousel {
        .carousel-control-prev,
        .carousel-control-next {
            background-color: transparent;

            .icon {
                width: 80px;
                height: 80px;
            }
        }

        .carousel-control-prev {
            left: 0;
        }

        .carousel-control-next {
            right: 0;
        }
    }

    .swag-cms-extensions-quickview-modal {
        .gallery-slider-col {
            padding-left: 0;
            padding-right: 0;
        }

        .modal-content {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }
    }
}
