{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    {% set selectQuantityThreshold = 100 %}
    {% if showQuantitySelect %}
        <div class="col-4{% if (product.calculatedMaxPurchase - product.minPurchase) / product.purchaseSteps > selectQuantityThreshold %} quantity-input{% endif %}">
            {% block page_product_detail_buy_quantity %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
