{% sw_extends '@Storefront/storefront/page/product-detail/headline.html.twig' %}

{% block page_product_detail_name_container %}
    <div class="product-detail-name-container">
        {{ block('page_product_detail_name') }}
    </div>
{% endblock %}

{% block page_product_detail_manufacturer %}
{% endblock %}
