.filter-actions {
    font-size: 0;

    > a {
        @extend .m-2;
    }
}

.module-statistic {
    .filter-container {
        @extend .mt-0;
        max-width: 440px;

        .filter-label {
            margin-bottom: 8px;
        }

        .filter-groupBy {
            margin-top: 0;
            margin-bottom: 20px;
        }

        .row {
            margin: 0;
        }

        > .row:not(.panel-content-filter) {
            margin: 0 -4px;

            .form-group {
                @include make-col(6);
                @extend .me-0;

                padding: 0 4px;
            }
        }

        > .block {
            @extend .mt-0;

            margin-bottom: 20px;
        }

        > h5 {
            @extend .d-none;
        }

        select,
        .flatpickr-input {
            max-width: 100%;
        }

        .flatpickr-input {
            margin-right: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .flatpickr-input {
        + .input-group-text {
            min-width: auto;
            right: 12px;
            top: -1px;
            border: 0;
            background: transparent;
            padding: 0;
        }
    }

    select {
        @extend .form-select;
    }

    label {
        @extend .mt-0;

        display: block;
    }

    h5 {
        font-size: 14px;
        font-weight: 400;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .apexcharts-legend-marker {
        border-radius: 2px !important;
        width: 16px !important;
        height: 16px !important;
        margin-right: 8px;
    }

    .apexcharts-legend.position-bottom {
        .apexcharts-legend-series {
            margin: 0 24px 0 0 !important;
            align-items: flex-end !important;
        }
    }

    .b2b--grid-container {
        background: transparent;
        border: none;
    }

    .b2b--component-pagination {
        border-top-color: transparent;
    }

    .grid-form {
        gap: 60px;

        .grid-form-filter {
            .input-group-text .icon {
                color: $icon-base-color;
                width: 18px;
            }

            .form-group {
                width: 100%;
            }

            .statistics-label-filter {
                margin-bottom: 24px;
            }

            .text-left {
                margin-top: 0;
            }
        }
    }

    .grid-form-grid-table {
        .action--export {
            color: $gray-900;
            border-color: $gray-900;

            &:nth-of-type(1) {
                margin-right: 4px;
            }
        }
    }
}

.panel-content-filter > .form-group {
    width: 100%;
}
