/*
CMS blocks
==============================================
General styling for cms blocks and
specific styling for elements dependent on their parent block
*/

.cms-block {
    &.cms-block-gallery-buybox {
        overflow: unset;
    }
}

.cms-element-text {
    h2 {
        font-size: $h1-font-size;
        line-height: 40px;
        font-weight: $font-weight-semibold;
        margin-bottom: 12px;
    }

    hr {
        border-color: $shape-gray-900;
    }
}

@include media-breakpoint-down(xs) {
    .cms-block-product-description-reviews,
    .cms-block-cross-selling {
        .cms-block-container {
            padding: 0 !important;
        }
    }
}
