.btn-primary,
.btn-secondary {
    .icon {
        color: $white;
    }
}

.btn-light {
    .icon {
        color: $black;
    }
}

.icon-shape,
.icon-review {
    color: $shape-gray-900;
    width: unset;
    height: unset;
    display: inline-block;
}

.btn {
    .icon-shape {
        > svg {
            top: 0;
        }
    }
}
