.input-group {
    > .form-control,
    > .form-select {
        &:not(:first-child) {
            @include border-start-radius($input-border-radius !important);
        }
    }

    button.btn {
        position: absolute;
        height: 100%;
        min-width: $input-group-append-width;
        right: 0;
        z-index: 10;
        @include border-radius($input-border-radius-lg !important);
    }

    > .form-control {
        margin-right: $input-group-append-width / 2;
        padding-right: calc(#{$input-padding-x} + #{$input-group-append-width} / 2);

        &[type='number'] {
            padding-right: $input-padding-x;
        }
    }
}

.input-group-lg {
    > .form-control {
        margin-right: $input-group-append-width-lg / 2;
        padding-right: calc(#{$input-padding-x} + #{$input-group-append-width-lg} / 2);
        padding-top: 10px;
        padding-bottom: 10px;
        height: 48px;
    }

    > .btn {
        min-width: $input-group-append-width-lg;
    }

    > .form-control,
    > .form-select {
        &:not(:first-child) {
            @include border-start-radius($input-border-radius-lg);
        }
    }
}
