.is-default,
.is-offcanvas {
    .line-item-quantity,
    .line-item-total-price {
        width: 100%;
    }

    .line-item-row {
        position: relative;

        .line-item-quantity-label,
        .line-item-unit-price-label,
        .line-item-total-price-label,
        .line-item-tax-price-label {
            display: none;
        }
    }

    .line-item-total-price {
        align-items: center;
        justify-content: flex-end;
    }

    &.line-item-container {
        .line-item:last-child {
            border-bottom: none;
        }
    }

    @include media-breakpoint-up(sm) {
        .line-item-quantity {
            display: block;
        }
    }
}

.is-offcanvas {
    .line-item-unit-price,
    .line-item-tax-price {
        @extend .d-none;
    }

    .line-item-info {
        width: calc(100% - 12px);
    }

    .line-item-details {
        width: calc(100% - 78px);
        padding: 0 14px;
    }

    .line-item-quantity-label {
        .checkout-aside-product-list & {
            display: block;
            margin-bottom: 0;
        }
    }

    .line-item-quantity-select-wrapper {
        padding-left: 104px;
        @include make-col(12);

        .checkout-aside-product-list & {
            @include make-col(5);
            padding-left: 0;

            .line-item-quantity {
                @extend .justify-content-end;
            }
        }
    }
}

.line-item-quantity-label,
.line-item-unit-price-label,
.line-item-total-price-label,
.line-item-tax-price-label {
    font-size: 12px;
    line-height: 20px;
    color: $shape-gray-900;
    width: 50%;
}

.line-item-unit-price-label,
.line-item-tax-price-label {
    font-weight: $font-weight-normal;
}

.line-item-label {
    display: block;
    margin-bottom: $spacer-sm;
}

.line-item-delivery-date {
    margin-top: $spacer-sm;
}

.line-item-quantity-select-wrapper {
    min-width: 81px;

    .form-select {
        padding-right: 0;
    }

    .line-item-quantity {
        width: 100%;
        @extend .justify-content-center;

        .is-default &,
        .is-offcanvas & {
            @extend .justify-content-start;
        }
    }

    select {
        min-width: 81px;
        line-height: 18px;
    }

    > .line-item-quantity {
        padding-top: 0;
        margin: 0;
    }
}

.line-item {
    padding: 20px 0;
    position: relative;

    &.is-order {
        margin-left: $spacer-lg;
        margin-right: $spacer-lg;
    }
}

.line-item-info {
    margin-bottom: $spacer-sm;
}

.line-item-details {
    width: calc(100% - 78px);

    .is-default & {
        padding: 0 14px;
    }

    .product-wishlist {
        margin: $spacer-lg 0 0;

        .icon-wishlist {
            width: 13px;
            height: 13px;
        }
    }

    .product-wishlist-btn-content {
        line-height: 22px;
        text-align: left;
    }
}

.line-item-quantity-row {
    margin-bottom: 0;

    .checkout-aside-product-list & {
        padding-left: 102px;
    }
}

.line-item-ordernumber {
    margin-bottom: 0;
    font-size: 11px;
    color: $shape-gray-500;
}

.line-item-total-price-value {
    text-align: right;
    width: 100%;

    small {
        color: $shape-gray-500;
        font-size: 12px;
    }
}

.line-item-remove-button {
    background: transparent;
    line-height: 1;
    padding: 0;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    .icon {
        width: 12px;
        height: 12px;

        > svg {
            top: 0;
        }
    }
}

.line-item-quantity {
    margin: $spacer-sm 0;
    order: 6;

    .order-detail-content & {
        display: none;
    }
}

.line-item-wishlist {
    order: 6;

    .product-wishlist {
        margin: 0;
        line-height: 22px;

        .icon-wishlist {
            width: 14px;
            height: 14px;
        }

        .icon-wishlist-not-added,
        .icon-wishlist-added {
            color: $shape-gray-600;
        }
    }

    .is-offcanvas & {
        padding-left: 104px;
    }

    .is-default & {
        padding-left: 92px;
    }

    .is-order & {
        padding-right: $spacer-sm / 2;
        padding-left: $spacer-sm / 2;
    }

    @include media-breakpoint-up(md) {
        .is-default & {
            padding-left: 134px;
            padding-top: $spacer-lg;
        }

        .is-order & {
            padding-left: 98px;
        }
    }
}

.line-item-remove {
    position: absolute;
    right: 0;
    top: 0;
}

.line-item-container {
    .line-item-children {
        .line-item-row {
            margin: 0;
        }

        .line-item-details {
            width: 100%;
            padding: 0;
        }
    }

    &.is-offcanvas {
        .line-item-quantity-select-wrapper {
            padding: 0 calc(var(--bs-gutter-x) * 0.5);
            margin-left: 0;
        }
    }
}

.is-order {
    .line-item-unit-price,
    .line-item-total-price {
        order: 3;
        display: flex;
        text-align: left;

        @include media-breakpoint-up(md) {
            @include make-col(2);

            display: block;
            text-align: center;
        }
    }

    .line-item-quantity {
        margin: 0;
    }

    .line-item-unit-price,
    .line-item-total-price,
    .line-item-tax-price {
        justify-content: flex-start;
    }

    .line-item-unit-price-label,
    .line-item-total-price-label,
    .line-item-tax-price-label {
        display: block;
    }

    .line-item-total-price-value {
        text-align: left;
        width: auto;
    }

    @include media-breakpoint-up(md) {
        .line-item-unit-price,
        .line-item-total-price,
        .line-item-tax-price {
            justify-content: flex-end;
        }

        .line-item-unit-price-label,
        .line-item-total-price-label,
        .line-item-tax-price-label {
            display: none;
        }

        .line-item-total-price-value {
            text-align: right;
        }
    }
}

.is-default {
    .line-item-quantity-select-wrapper {
        @include make-col(12);
        padding-left: 102px;

        .line-item-quantity {
            width: auto;
            padding-top: 0;
        }
    }

    .line-item-total-price {
        flex-wrap: wrap;
    }

    .line-item-row {
        align-items: flex-start;
    }

    .line-item-unit-price,
    .line-item-tax-price {
        @include make-col(12);

        display: block;
        text-align: right;
        font-style: normal;
    }

    .line-item-unit-price-value,
    .line-item-tax-price-value {
        color: $shape-gray-500;
        font-weight: $font-weight-semibold;
        margin-right: $spacer-xs;
    }

    .line-item-info {
        width: 100%;
    }

    &.line-item {
        &:last-child {
            border-bottom: 1px solid $hr-border-color;
        }
    }
}

@include media-breakpoint-up(md) {
    .is-default {
        .line-item {
            padding: 33px 0;
        }

        .line-item-label,
        .line-item-total-price-value {
            font-size: 20px;
            line-height: 26px;
        }

        .line-item-details-container {
            padding-left: 0;
        }

        .line-item-img-container {
            width: 112px;
        }

        .line-item-img {
            height: 112px;
        }

        .line-item-details {
            width: calc(100% - 120px);
        }

        .line-item-info {
            width: 50%;

            .is-act-finishpage & {
                width: 60%;
            }
        }

        .line-item-quantity {
            width: 20%;
        }

        .line-item-total-price {
            width: 30%;

            .is-act-finishpage & {
                width: 40%;
            }
        }

        .line-item-remove {
            top: -20px;
        }

        .line-item-children.nesting-level-1 {
            margin-left: 134px;
        }

        .line-item-container {
            .line-item {
                padding: $spacer-20 0;
            }
        }

        .line-item-quantity-select-wrapper {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
    }

    .line-item-quantity {
        .is-default &,
        .is-order & {
            justify-content: flex-start;
        }
    }

    .checkout-aside-product-list {
        .line-item-img-container {
            width: 84px;
        }

        .line-item-img {
            height: 84px;
        }

        .line-item-details {
            width: calc(100% - 92px);
        }

        .line-item-quantity,
        .line-item-total-price {
            padding-top: 0;
        }
    }

    .line-item {
        &.is-order {
            margin-left: 34px;
            margin-right: 34px;
        }
    }

    .order-detail-content {
        .line-item-quantity {
            display: block;
        }
    }

    .is-order {
        .line-item-unit-price {
            text-align: center;
        }
    }
}

// Styling for nested line items
.line-item-children {
    background-color: $white;

    &.nesting-level-2 {
        background-color: $gray-100;
    }

    &.nesting-level-3 {
        background-color: darken($gray-100, 3.5%);
    }
}
