{# SwagShapeTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/review/review.html.twig' %}

{% block utilities_offcanvas_close %}
    <button class="product-detail-offcanvas-close offcanvas-close js-offcanvas-close">
        {% block utilities_offcanvas_close_icon %}
            {% sw_icon 'ic-chevron-left' style { 'pack': 'shape', 'size': 'xs' } %}
        {% endblock %}

        {% block utilities_offcanvas_close_text %}
            {{ "detail.tabsReview"|trans|sw_sanitize }}
        {% endblock %}
    </button>
{% endblock %}

{% block component_review_tab_pane %}
    <div class="row product-detail-review-content js-review-container">
        {{ block('component_review_main') }}

        {% block component_review_aside %}
            <div class="col-12 col-lg-5 product-detail-review-widget-wrapper">
                {{ block('component_review_widget_container') }}
            </div>
        {% endblock %}
    </div>
{% endblock %}
