{# SwagShapeTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}

{% set orderHasLineItemStatus = order.lineItems|filter(lineItem => lineItem.extensions.state is not null)|length %}

{% block page_account_order_item_detail_table_header_name %}
    <div class="{% if orderHasLineItemStatus %}col-4{% else %}col-6{% endif %} order-detail-content-header-cell order-header-name">
        {{ "account.orderItemColumnName"|trans|sw_sanitize }}
    </div>

    {% if orderHasLineItemStatus %}
        {% block page_account_order_item_detail_table_header_status %}
            {{ parent() }}
        {% endblock %}

        <div class="col-2 order-detail-content-header-cell order-header-quantity">
            {{ "account.orderItemColumnQuantity"|trans|sw_sanitize }}
        </div>
    {% endif %}
{% endblock %}
