{% sw_extends '@Storefront/storefront/component/address/address-personal.html.twig' %}

{# override this block in order to custom form width, remove col-md-3 class #}
{% block component_address_personal_fields_salutation %}
  <div class="form-group col-sm-6">
    {% block component_address_personal_fields_salutation_label %}
      {{ parent() }}
    {% endblock %}

    {% block component_address_form_salutation_select %}
      {{ parent() }}
    {% endblock %}

    {% block component_address_form_salutation_select_error %}
      {{ parent() }}
    {% endblock %}
  </div>
{% endblock %}
