{% sw_extends '@Storefront/storefront/component/address/address-editor-modal-create-address.html.twig' %}

{% block component_address_address_editor_modal_create_address_form_fields_include %}
    {% sw_include '@Storefront/storefront/component/address/address-personal.html.twig' with {
        'data': postedData ?? address,
        'prefix': 'address',
        'idPrefix': typePrefix,
        'scope': 'parent',
        'isAddressModal': true,
        'parentSelector': 'form'
    } %}

    {% sw_include '@Storefront/storefront/component/address/address-form.html.twig' with {
        'data': postedData ?? address,
        'prefix': 'address',
        'idPrefix': typePrefix,
        'scope': 'parent',
        'parentSelector': 'form',
        'isAddressModal': true,
        'showFormCompany': true,
        'showNoShippingPostfix': true
    } %}
{% endblock %}

{# @deprecated tag:v6.5.0 remove this block when default storefront update data-parent to data-bs-parent #}
{% block component_address_address_editor_modal_create_address %}
    <div id="{{ typePrefix }}{% if address %}address-create-edit{% else %}address-create-new{% endif %}"
         class="collapse"
         data-bs-parent="#{{ typePrefix }}addressEditorAccordion">
        {% block component_address_address_editor_modal_create_address_wrapper %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
