{% sw_extends '@Storefront/storefront/block/cms-block-gallery-buybox.html.twig' %}

{% block block_gallery_buybox %}
    {% block cms_breadcrumb %}
        <div class="breadcrumb cms-breadcrumb container">
            {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' with {
                context: context,
                category: page.product.seoCategory
            } only %}
        </div>
    {% endblock %}

    {{ parent() }}
{% endblock %}
