.account-aside-item {
    background: transparent;
    font-weight: $font-weight-bold;
    font-size: $h5-font-size;

    &.is-active {
        color: $primary;
        background: transparent;
    }

    &:hover {
        color: $sw-text-color;
        background: $list-group-bg;
        border-radius: $list-group-border-radius;
    }
}
