{# SwagShapeTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/component/account/login.html.twig' %}

{% block component_account_login_submit %}
    <div class="login-submit">
        <button type="submit"
                class="btn btn-outline-primary">
            {{ "account.loginSubmit"|trans|sw_sanitize }}
        </button>
    </div>
{% endblock %}
