{# SwagShapeTheme Copyright (C) 2025 shopware AG #}

{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search_button %}
    <button
        type="submit"
        class="btn header-search-btn"
        aria-label="{{ 'header.searchButton'|trans|striptags }}"
    >
        <span class="header-search-icon">
            {% sw_icon 'ic-search' style { 'pack':'shape' } %}
        </span>
    </button>
{% endblock %}
