{% sw_extends '@Storefront/storefront/component/line-item/element/children-wrapper.html.twig' %}

{% block component_line_item_children_collapse_icon %}
    <div class="line-item-collapse-icon">
        {% sw_icon 'ic-chevron-down' style {'pack' : 'shape'} %}
    </div>
{% endblock %}
