.product-block-prices-grid {
    border-collapse: separate;
    border-spacing: 0px $spacer-xs;

    thead {
        background-color: transparent;

        tr {
            background-color: transparent;
        }

        th {
            font-size: $font-size-base;
            font-weight: $font-weight-bolder;
            text-transform: unset;
        }
    }

    tr :is(th,td) {
        &:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        &:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    tr {
        background-color: $white;

        &:nth-of-type(even) {
            background-color: $shape-gray-200;
        }
    }

    td {
        font-weight: $font-weight-bolder;
    }

    .product-block-prices-body {
        .product-block-prices-row {
            border: none;
        }
    }

    .product-block-prices-cell {
        padding: 4px 24px;
    }
}

@include media-breakpoint-up(md) {
    .cms-element-image-gallery {
        padding: 0 $spacer-40;
    }

    .product-detail-media {
        padding: 0 $spacer-60;
    }
}

@include media-breakpoint-up(lg) {
    .cms-block-gallery-buybox .col-lg-5,
    .col-lg-5.product-detail-buy {
        padding-left: 80px;
    }

    .cms-element-image-gallery,
    .product-detail-media {
        padding: 0;
    }
}
