.cart-item {
    border-bottom: 2px solid $hr-border-color;
    padding: 1rem 0;

    .cart-item-remove-button {
        @extend .p-0;

        > .icon {
            width: 12px;
            height: 12px;
        }
    }
}
