.address-main-header,
.cart-main-header,
.confirm-main-header,
.checkout-aside-product-header,
.checkout-aside-summary-header {
    @include checkout-headline;

    margin-bottom: 30px;
}

.checkout-aside-summary {
    padding-left: 0;
    padding-right: 0;
}
